nodejs/casadocodigo/node_modules
nodejs2/casadocodigo/node_modules
javascript2/aluraframe/server/node_modules
angularjs/alurapic/node_modules
javascript3/aluraframe/server/node_modules
javascript3/aluraframe/client/node_modules/
react1/client/cdc-admin/node_modules
react3/node_modules
python-oo/.vscode
php-oo2/ByteBank/.metadata
php-oo2/ByteBank/.buildpath
php-oo2/ByteBank/.project
php-oo2/ByteBank/.settings
.metadata/
php-mvc/vendor
php-mvc/composer.lock
