body {
	font-family: "Times New Roman", serif;
	background-color: #F2FFFC;
	font-size: 120%;
	line-height: 1.5em;
}


h1, h2 {
	font-family: "Sansita", sans-serif;
}

main {
	width: 80%;
	float: left;
	padding-bottom: 80px;
}

main a {
	color: #851944;
}

.titulo-pagina {
	font-size: 60px; 
	background-color: rgb(133, 25, 68);
	color: rgb(255, 255, 255);
	text-align: center;
	padding: 25px;
	border-bottom: 10px black solid;
	text-transform: uppercase;
}

.conteudo {
	width: 720px;
	padding: 30px 0;
	margin: 0 auto;
}

p {
	text-align: justify;
	margin: 20px 0;	
}

.citacao-referencia {
	background-color: #D9E5E3;
	padding: 20px;
	border: 10px #C2CCCA solid;
	width: 250px;
	box-sizing: border-box;
	margin: 20px 40px;
}

.navegacao-site {
	background-color: #3C1D3D;
	color: #F2FFFC;
	padding: 20px;
	text-align: center;
}

.navegacao-site h1 {
	font-size: 30px;
	margin-bottom: 25px;
	text-transform: uppercase;
}

.navegacao-site a {
	color: #F2FFFC;
	font-family: "Sansita", sans-serif;
	text-transform: lowercase;
	text-decoration: none;
}

nav a {
	color: #F2FFFC;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

h2 {
	font-size: 30px;
	clear: both;
}

.social-icons li {
	display: inline-block;
}

.social-icons a {
	width: 40px;
	height: 40px;
	display: inline-block;
	text-indent: -99999px;
}

.github {
	background-image: url(../img/github.png);
}

.twitter {
	background-image: url(../img/twitter.png);
}

.linkedin {
	background-image: url(../img/linkedin.png);
}

article {
	padding-bottom: 30px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
}

.rodape-pagina {
	background-color: #000000;
	color: #F2FFFC;
	padding: 20px;
	clear: both;
	position: fixed;
	width: 100%;
	bottom: 0;
}
.leia-mais {
    padding: 8px;
    margin: 16px;
    display: block;
    font-size: 24px;
    text-align: center;
    background-color: #E6E7E8;
}

.fiat {
	float: right;
}

.petrobras  {
	float: left;
}

.minha-foto, .navegacao-site {
	float: right;
	box-sizing: border-box;
	border-left: 10px solid black;
	border-bottom: 10px solid black;
}

.minha-foto {
	position: absolute;
	width: 300px;
	top: 0;
	right: 0;
}

.navegacao-site {
	position: relative;
	top: 300px;
	width: 20%;
}

cite {
	float: right;
	font-style: italic;
}
