@import '../abstract/variaveis';

#servicos {
  margin: 80px;
  h4 {
    font-size: $tamanho-do-texto;
    color: $cor-secundaria;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin: 1rem;
  }
}